
<div class="lesedi-container">
    <h4>Le sedi</h4>

    <div class="row lesedi-container-marnate">
        <div class="col-2"></div>
        <div class="col-4 immagine">
            <a href="https://g.page/tip-top-tennis?share" target="_blank"><img src="assets/images/marnate.PNG"></a>    
        </div>    
        <div class="col-4 testo">
            <p><b><a href="https://g.page/tip-top-tennis?share" target="_blank">Centro sportivo comunale Meraki</a></b></p>
            <p><a href="https://g.page/tip-top-tennis?share" target="_blank">via San Carlo, 155 - Marnate (VA)</a></p>
        </div>
        <div class="col-2"></div>
    </div>

    <div class="row lesedi-container-lozza">
        <div class="col-2"></div>
        <div class="col-4 immagine">
            <a href="https://goo.gl/maps/wsodU6Xr1gBMCdMg8" target="_blank"><img src="assets/images/lozza.PNG"></a> 
        </div>
        <div class="col-4 testo">
            <p><b><a href="https://goo.gl/maps/wsodU6Xr1gBMCdMg8" target="_blank">Centro sportivo Lozza</a></b></p>
            <p><a href="https://goo.gl/maps/wsodU6Xr1gBMCdMg8" target="_blank">via Giuseppe Verdi, 14 - Lozza (VA)</a></p>
        </div>
        <div class="col-2"></div>
    </div>
</div>

<app-footer></app-footer>