
<div class="lesedi-container">
    <h4>Le sedi</h4>
    <p>
        Il <a href="https://www.mondodomani.com" target="_blank">Club</a> si estende per una superficie di oltre 33.000 mq, e nel contesto di uno splendido giardino con piante di alto fusto, trovano collocazione dei moderni impianti sportivi:
    </p>
    <ul>
        <li>7 campi da tennis di cui 4 scoperti in terra e 3 coperti (2 in sintetico ed 1 in terra)</li>
        <li>2 piscine scoperte, una da 25 mt ed una per bambini</li>
        <li>2 campi da padel scoperti</li>
        <li>campo da calcio a 7 in erba</li>
        <li>campo da basket / volley</li>
        <li>campo da beach volley</li>
    </ul> 

    
    <div class="row lesedi-container-marnate">
        <div class="col-2"></div>
        <div class="col-4 immagine">
            <a href="https://g.page/tip-top-tennis?share" target="_blank"><img src="assets/images/marnate.PNG"></a>    
        </div>    
        <div class="col-4 testo">
            <p><b><a href="https://g.page/tip-top-tennis?share" target="_blank">Sporting Club Mondodomani</a></b></p>
            <p><a href="https://g.page/tip-top-tennis?share" target="_blank">via G. Pascoli, 222 - Marnate (VA)</a></p>
        </div>
        <div class="col-2"></div>
    </div>

    <div class="row lesedi-container-lozza">
        <div class="col-2"></div>
        <div class="col-4 immagine">
            <a href="https://goo.gl/maps/wsodU6Xr1gBMCdMg8" target="_blank"><img src="assets/images/lozza.PNG"></a> 
        </div>
        <div class="col-4 testo">
            <p><b><a href="https://goo.gl/maps/wsodU6Xr1gBMCdMg8" target="_blank">Centro sportivo Lozza</a></b></p>
            <p><a href="https://goo.gl/maps/wsodU6Xr1gBMCdMg8" target="_blank">via Giuseppe Verdi, 14 - Lozza (VA)</a></p>
        </div>
        <div class="col-2"></div>
    </div>
</div>

<app-footer></app-footer>