<div class="carousels-desktop">
    <div id="carouselExampleSlidesOnly1" class="carousel slide col-4 carousel-fade" data-bs-ride="carousel" data-bs-interval=5100>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/images/cs1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/images/cs2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/images/cs3.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
    </div>
    <div id="carouselExampleSlidesOnly2" class="carousel slide col-4 carousel-fade" data-bs-ride="carousel" data-bs-interval=6700>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/images/logo.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/images/cs5.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/images/cs6.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
    </div>
    <div id="carouselExampleSlidesOnly3" class="carousel slide col-4 carousel-fade" data-bs-ride="carousel" data-bs-interval=5900>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/images/cs7.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/images/cs8.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/images/cs8.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
    </div>
</div>

<div class="carousel-mobile">
    <div id="carouselExampleSlidesOnlyMobile" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval=4500>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/images/logo.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/images/cs6mobile.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/images/cs1mobile.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/images/cs8mobile.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
    </div>
</div>