<div class="carousel-component">
    <app-carousel></app-carousel>
</div>

<div class="citazione-container">
    <div class="col-4 col-s-3"></div>
    <div class="col-4 col-s-6">
        <p class="citazione-container-contenuto">
            ” Se la gente potesse sentire quello che ci dicono i coach
            capirebbe che il tennis è molto più che colpire una palla. „
        </p>
        <p class="citazione-container-agassi">
            - Andre Agassi
        </p>
    </div>
    <div class="col-4 col-s-3"></div>
</div>

<div class="contenuto-container">

    <!-- --- CHI SIAMO --- -->
    <div class="contenuto-container-sezione desktop-mobile">
        <div class="col-2 col-s-1"></div>
        <div class="col-4 col-s-5 contenuto-container-sezione-immagine">
            <img src="assets/images/chisiamo.jpg">
        </div>
        <div class="col-4 col-s-5 contenuto-container-sezione-testo">
            <h3 class="titolo">
                CHI SIAMO
            </h3>
            <p class="paragrafo">
                La nostra associazione nasce nel 2017 da 3 amici accomunati dalla passione per il tennis e dalla loro voglia di condividere e diffondere l'attività didattica e agonistica.
            </p>
            <button (click)="setPage('chisiamo')"><p>Guarda</p><img src="https://img.icons8.com/material-sharp/24/ffffff/chevron-right.png"/></button>
        </div>
        <div class="col-2 col-s-1"></div>
    </div>

    <!-- --- LE NOSTRE SEDI --- -->
    <div class="contenuto-container-sezione desktop">
        <div class="col-2 col-s-1"></div>
        <div class="col-4 col-s-5 contenuto-container-sezione-testo">
            <h3 class="titolo">
                LE NOSTRE SEDI
            </h3>
            <p class="paragrafo">
                Nel 2017 abbiamo aperto il nostro primo impianto a Marnate. <br>Oggi stiamo lavorando all'apertura della nuova sede a Lozza. 
            </p>
            <button (click)="setPage('lesedi')"><p>Guarda</p><img src="https://img.icons8.com/material-sharp/24/ffffff/chevron-right.png"/></button>
        </div>
        <div class="col-4 col-s-5 contenuto-container-sezione-immagine">
            <img src="assets/images/lesedi.jpeg">
        </div>
        <div class="col-2 col-s-1"></div>
    </div>

    <div class="contenuto-container-sezione mobile">
        <div class="col-4 contenuto-container-sezione-immagine">
            <img src="assets/images/lesedi.jpeg">
        </div>
        <div class="col-4 contenuto-container-sezione-testo">
            <h3 class="titolo">
                LE NOSTRE SEDI
            </h3>
            <p class="paragrafo">
                Nel 2017 abbiamo aperto il nostro primo impianto a Marnate. <br>Oggi stiamo lavorando all'apertura della nuova sede a Lozza. 
            </p>
            <button (click)="setPage('lesedi')"><p>Guarda</p><img src="https://img.icons8.com/material-sharp/24/ffffff/chevron-right.png"/></button>
        </div>
    </div>

    <!-- --- LA SCUOLA --- -->

    <div class="contenuto-container-sezione desktop-mobile">
        <div class="col-2 col-s-1"></div>
        <div class="col-4 col-s-5 contenuto-container-sezione-immagine">
            <img src="assets/images/lascuola.jpg">
        </div>
        <div class="col-4 col-s-5 contenuto-container-sezione-testo">
            <h3 class="titolo">
                LA SCUOLA
            </h3>
            <p class="paragrafo">
                La scuola di avviamento prevede un percorso di 9 mesi durante i quali verranno insegnati, provati e perfezionati tutti i colpi del tennis.
            </p>
            <button (click)="setPage('lascuola')"><p>Guarda</p><img src="https://img.icons8.com/material-sharp/24/ffffff/chevron-right.png"/></button>
        </div>
        <div class="col-2 col-s-1"></div>
    </div>

    <!-- --- SUMMER CAMP --- -->

    <div class="contenuto-container-sezione desktop">
        <div class="col-2 col-s-1"></div>
        <div class="col-4 col-s-5 contenuto-container-sezione-testo">
            <h3 class="titolo">
                SUMMER CAMP
            </h3>
            <p class="paragrafo">
                Il nostro centro estivo, realizzato in collaborazione con la Pro Loco di Marnate, si svolge per tutto il periodo estivo, da giugno a settembre.
            </p>
            <button (click)="setPage('summercamp')"><p>Guarda</p><img src="https://img.icons8.com/material-sharp/24/ffffff/chevron-right.png"/></button>
        </div>
        <div class="col-4 col-s-5 contenuto-container-sezione-immagine">
            <img src="assets/images/sc7.jpg">
        </div>
        <div class="col-2 col-s-1"></div>
    </div>

    <div class="contenuto-container-sezione mobile">
        <div class="col-4 contenuto-container-sezione-immagine">
            <img src="assets/images/sc7.jpg">
        </div>
        <div class="col-4 contenuto-container-sezione-testo">
            <h3 class="titolo">
                SUMMER CAMP
            </h3>
            <p class="paragrafo">
                Il nostro centro estivo, realizzato in collaborazione con la Pro Loco di Marnate, si svolge per tutto il periodo estivo, da giugno a settembre.
            </p>
            <button (click)="setPage('summercamp')"><p>Guarda</p><img src="https://img.icons8.com/material-sharp/24/ffffff/chevron-right.png"/></button>
        </div>
    </div>

</div>

<app-footer></app-footer>