<div class="camp-container">
    <h4>Summer Camp</h4>
    <p>
        Il nostro centro estivo, realizzato in collaborazione con la Pro Loco di Marnate, si svolge per tutto il periodo estivo, da giugno a settembre. 
        Il camp offre ai bambini e ai ragazzi <b>da 6 a 16 anni</b> allenamenti intensivi <b>dal lunedì al venerdì</b> per ben <b>3 ore al giorno</b>, in cui si curano gli 
        <b>aspetti tecnici e tattici</b> del tennis e si dedica tempo alla <b>preparazione atletica</b>.
    </p>
    <p>
        Oltre allo specialistico tennis, organizziamo anche uno sport camp per i bambini <b>dai 6 ai 14 anni</b> in cui viene proposta una <b>vasta gamma di sport 
        e attività</b>, seguiti da <b>insegnanti specializzati</b> nelle varie discipline.
    </p>
    <p>
        Per tutte le informazioni potete visitare la <a href="https://www.facebook.com/tiptoptennis2017" target="_blank">pagina facebok</a> dedicata.
    </p>
    
    <app-summercampcarousel></app-summercampcarousel>
</div>

<app-footer></app-footer>