
<div class="scuola-container">
    <div #minitennis class="sezione-minitennis">
        <div class="minitennis-descrizione">
            <h4>Minitennis</h4>
            <p>
                La scuola di avviamento prevede un percorso di 9 mesi durante i quali verranno insegnati, provati e perfezionati tutti i colpi del tennis. 
                Un percorso parallelo alla <b>preparazione atletica che verrà proposta gratuitamente a tutti gli allievi</b>.
            </p>
            <p>
                Tutte le figure professionali presenti sui nostri campi da tennis sono diplomati FIT, sinonimo di preparazione, qualità e professionalità.
            </p>
            <p>
                (4-6 allievi per maestro)
            </p>
        </div>
        <table class="quota-iscrizione">
            <tr>
                <td><p>QUOTA ASSOCIATIVA</p><p>(tesseramento all'associazione sportiva, tesseramento FIT)</p></td>
                <td>€ 55</td>
            </tr>
        </table>
        <table class="minitennis">
            <thead>
                <tr>
                    <th>ABBONAMENTO</th>
                    <th>Metà ciclo</th>
                    <th>Annuale</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1 ora settimanale + preparazione atletica</td>
                    <td>€ 260</td>
                    <td>€ 450</td>
                </tr>
                <tr>
                    <td>90 min. settimanali + preparazione atletica</td>
                    <td>€ 335</td>
                    <td>€ 615</td>
                </tr>
                <tr>
                    <td>2 ore settimanali + preparazione atletica</td>
                    <td>€ 420</td>
                    <td>€ 790</td>
                </tr>
                <tr>
                    <td>3 ore setttimanali + preparazione atletica</td>
                    <td>€ 640</td>
                    <td>€ 1160</td>
                </tr>

            </tbody>
        </table>
        <p class="inomaggio">
            A tutti gli iscritti all'associazione TipTopTennis in <b>omaggio</b> un capo d'abbigliamento sportivo personalizzato.
        </p>
    </div>
    
    <hr><div #agonistica class="sezione-agonistica">
        <div class="agonistica-descrizione">
            <h4>Sezione Agonistica</h4>
            <p>
                La sezione agonistica comprende un percorso di miglioramento e perfezionamento delle capacità tecnico-tattiche dell'atleta, organizzate e 
                strutturate dal <b>coach internazionale MTMCA Alessio Drogo</b>.
            </p>
            <p>
                Un'attività intensiva e di altissima scuola, affiancata all'occorrenza da figure professionali quali psicologo sportivo, fisioterapista e dietista alimentare.            </p>
            <p>
                (4 allievi per maestro)
            </p>
        </div>
        <table class="quota-iscrizione">
            <tr>
                <td><p>QUOTA ASSOCIATIVA</p><p>(tesseramento all'associazione sportiva, tesseramento FIT)</p></td>
                <td>€ 65</td>
            </tr>
        </table>
        <table class="agonistica">
            <thead>
                <tr>
                    <th>ABBONAMENTO</th>
                    <th>Annuale</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1 volta a settimana: 90 min. di tennis + preparazione atletica</td>
                    <td>€ 660</td>
                </tr>
                <tr>
                    <td>1 volta a settimana: 2 ore di tennis + preparazione atletica</td>
                    <td>€ 860</td>
                </tr>
                <tr>
                    <td>2 volte a settimana: 3 ore di tennis + preparazione atletica</td>
                    <td>€ 1225</td>
                </tr>
                <tr>
                    <td>2 volte a settimana: 4 ore di tennis + preparazione atletica</td>
                    <td>€ 1670</td>
                </tr>
                <tr>
                    <td>3 volte a settimana: 4h 30 min. di tennis + preparazione atletica</td>
                    <td>€ 1800</td>
                </tr>
                <tr>
                    <td>3 volte a settimana: 6 ore di tennis + preparazione atletica</td>
                    <td>€ 2300</td>
                </tr>
            </tbody>
        </table>
        <p class="inomaggio">
            A tutti gli iscritti all'associazione TipTopTennis in <b>omaggio</b> un capo d'abbigliamento sportivo personalizzato.
        </p>
    </div>

    <hr><div #private class="sezione-private">
        <div class="private-descrizione">
            <h4>Lezioni Private</h4>
        </div>
        <table class="quota-iscrizione">
            <tr>
                <td><p>QUOTA ASSOCIATIVA</p><p>(tesseramento all'associazione sportiva, tesseramento FIT)</p></td>
                <td>€ 55</td>
            </tr>
        </table>
        <div class="private-container">
        <table class="private">
            <thead>
                <tr>
                    <th>Tipo di abbonamento</th>
                    <th>1 lezione da 1 ora</th>
                    <th>10 lezioni da 1 ora</th>
                    <th>1 lezione da 90 min.</th>
                    <th>10 lezioni da 90 min.</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lezione individuale</td>
                    <td>€ 38 / 40 *</td>
                    <td>€ 320 / 350 *</td>
                    <td>€ 57</td>
                    <td>€ 480</td>
                </tr>
                <tr>
                    <td>2 allievi</td>
                    <td>€ 22 / 24 *<br><p>(a persona)</p></td>
                    <td>€ 200 / 220 *<p>(a persona)</p></td>
                    <td>€ 33<p>(a persona)</p></td>
                    <td>€ 300<p>(a persona)</p></td>
                </tr>
                <tr>
                    <td>3 allievi</td>
                    <td>€ 18<p>(a persona)</p></td>
                    <td>€ 160<p>(a persona)</p></td>
                    <td>€ 27<p>(a persona)</p></td>
                    <td>€ 240<p>(a persona)</p></td>
                </tr>
                <tr>
                    <td>4 allievi</td>
                    <td>€ 16<p>(a persona)</p></td>
                    <td>€ 150<p>(a persona)</p></td>
                    <td>€ 24<p>(a persona)</p></td>
                    <td>€ 225<p>(a persona)</p></td>
                </tr>
            </tbody>
        </table></div>
        <p class="inomaggio">
            A tutti gli iscritti all'associazione TipTopTennis in <b>omaggio</b> un capo d'abbigliamento sportivo personalizzato.
            <br><br>
            * tariffa estiva (aprile-ottobre) / tariffa invernale (novembre-marzo)
        </p>
    </div>

    <div class="row">
        <div class="iscrizione-container">
            <button (click)="minorenni()" class="iscrizione"> 
                Scarica e compila il modulo di iscrizione
                (minorenni)
            </button>
        </div>
    </div>

    <div class="row">
        <div class="iscrizione-container">
            <button (click)="maggiorenni()" class="iscrizione">
                Scarica e compila il modulo di iscrizione<br>
                (maggiorenni)
            </button>
        </div>
    </div>

    <div class="row">
        <div class="iscrizione-container">
            <button (click)="brochure()" class="iscrizione ">
                Brochure stagione 2022-2023
            </button>
        </div>
    </div>

</div>

<button id="minitennis" class="hidden" (click)="scrollToElement(minitennis)">minitennis</button>
<button id="agonistica" class="hidden" (click)="scrollToElement(agonistica)">agonistico</button>
<button id="private" class="hidden" (click)="scrollToElement(private)">privato</button>

<a id="minorenni" class="hidden" href="assets/docs/iscrizioneMinorenni.pdf" target="_blank"></a>
<a id="maggiorenni" class="hidden" href="assets/docs/iscrizioneMaggiorenni.pdf" target="_blank"></a>
<a id="brochure" class="hidden" href="assets/docs/Brochure2022.pdf" target="_blank"></a>

<app-footer></app-footer>