<div class="chisiamo-container">
    <h4>Chi Siamo</h4>
    <p>
        La nostra associazione nasce nel <b>2017</b> da 3 amici accomunati dalla passione per il tennis e dalla loro voglia di condividere e diffondere l'attività didattica e 
        agonistica.
    </p>
    <p>
        Ogni anno la scuola tennis, riconosciuta dalla <b>Federazione Italiana Tennis</b>, aumenta sia il numero dei propri soci che il livello qualitativo degli insegnamenti e, 
        di conseguenza, l'importanza dei propri <b>obiettivi</b>.
    </p>
    <p>
        L'attività dell'associazione si sviluppa in tutti i <b>12 mesi</b> dell'anno con <b>tornei</b>, <b>campionati</b> a squadre, <b>centri estivi</b>, <b>gite</b> e molto 
        altro tra cui il progetto Racchette di Classe, finalizzato a introdurre il gioco del tennis nelle scuole elementari.
    </p>
    
    <app-chisiamocarousel></app-chisiamocarousel>
</div>


<app-footer></app-footer>